//= require reset
body {
  font: 12px Helvetica Neue;
}

.map {
  width: 100vw;
  height: 100vh;
}

.mapboxgl-canvas {
  -webkit-filter: saturate(1.2) brightness(1.0) contrast(1.0);
}


// Info panels
//-----------------------------
.stadium {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9999;
  color: #fff;
  min-width: 250px;

  .title {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);

    a {
      color: orange;
      text-decoration: none;
    }
  }

  .idx {
    float: right;
    margin-left: 10px;
  }

  .row {
    display: block;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &:last-child {
      border-bottom: 0;
    }

    em {
      font-weight: bold;
      color: #999;
    }

    .val {
      color: #ddd;
      float: right;
    }

    svg {
      margin-top: 15px;
      display: block;
    }

    text {
      fill: #999;
      font-size: 10px;
    }

    .built {
      fill: orange;
    }

    .expanded {
      fill: #2cd422;
    }

    .capacity {
      fill: dodgerblue;
    }

    .record {
      fill: hotpink;
    }

    .backing {
      fill: #fff;
      fill-opacity: 0.2;
    }

    .domain {
      fill: none;
    }

    .tick {
      line {
        stroke: #555;
        shape-rendering: crispedges;
        stroke-width: 1;
      }

      text {
        font-size: 10px;
        fill: #555;
      }
    }

    .legend {
      display: block;
      line-height: 1;

      .built {
        margin-right: 10px;
      }

      .built:before,
      .expanded:before,
      .capacity:before,
      .record:before {
        content: "\2022";
        font-size: 30px;
        vertical-align: -7px;
        margin-right: 3px;
        line-height: 10px;
      }

      .expanded,
      .record {
        float: right;
      }

      .built:before {
        color: orange;
      }

      .expanded:before {
        color: #2cd422;
      }

      .capacity:before {
        color: dodgerblue;
      }

      .record:before {
        color: hotpink;
      }
    }
  }

  .logo {
    text-align: center;
    padding: 10px;
  }

  .logo-image {
    max-height: 50px;
  }

  .logo-label {
    display: block;
    font-weight: bold;
  }
}
